<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{>headerlinks}}
</head>
<body>
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

               {{>navbar}}

        </div>
      </div>
  </div>

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main-header-center">
                        <figure>
                            <img src="/images/error.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                    
                    </div>
                    
            </div>
         </div>
     
     </div>



      <!-- footer  -->
      {{>footer}}
</body>
</html>